<main>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6 input-wrapper">
                <div class="text-center">
                    <div class="brand">
                        <a href="">
                            <img src="assets/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="page-heading">
                        <h2>Sign in to Wisestep</h2>
                    </div>
                    <div class="signin-option">
                        <button mat-raised-button><img src="assets/google.png" alt=""> Sign in with Google</button>
                        <button mat-raised-button><img src="assets/microsoft.png" alt=""> Sign in with Microsoft</button>
                    </div>
                    <div class="or-option">
                        <p>OR</p>
                    </div>
                    <div class="inputs">
                        <form action="">
                            <div class="input-item">
                                <mat-form-field appearance="legacy">
                                    <label for="email">Work email address</label>
                                    <input type="text" placeholder="eg. john@company.com" id="email">
                                </mat-form-field>
                            </div>
                            <div class="input-item">
                                <mat-form-field appearance="legacy" class="mb-2">
                                    <label for="password">Password</label>
                                    <input type="text" placeholder="Enter your password , min. 8 characters" id="password">
                                </mat-form-field>
                            </div>
                            <div class="text-end forgot-password">
                                <a href="">Forgot Password?</a>
                            </div>
                            <div class="tex-center form-action">
                                <button mat-button color="primary" mat-raised-button>Sign In</button>
                            </div>
                        </form>
                    </div>
                    <div class="other-option">
                        <p>Don’t have an account yet? <a href="">Sign up here</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 testimonials">
                <div class="box">
                    <img src="assets/quotes-left.svg" alt="" class="icon">
                    <h3 class="recommendation">Wisestep helped our business increase our efficiency on managing hiring pipelines by 20%</h3>
                    <p class="client">Susan M.</p>
                    <span class="client-role">Senior Hiring Manager,Aptal</span>
                </div>
            </div>
        </div>
    </div>
</main>