/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
*,
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

::-moz-selection {
  background-color: #00b4d8;
  color: #ffffff;
}

::selection {
  background-color: #00b4d8;
  color: #ffffff;
}

html,
body {
  font-family: "Manrope", sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #656565;
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

div,
header,
nav,
footer,
section,
aside,
article {
  display: block;
}

a {
  color: #00b4d8;
  text-decoration: none;
  -webkit-transition: all 0.05s ease-in !important;
  transition: all 0.05s ease-in !important;
}

a:hover {
  text-decoration: none !important;
  color: #000000;
}

p {
  font-size: 16px;
}

@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 16px;
  position: relative;
}

img {
  width: 100%;
}
